body {
  margin: 0;
  overflow: hidden;
  background: #9fd18b;
  font-family: Inter, system-ui, sans-serif;
}

#ui {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

#speed {
  font-size: 4rem;
  font-weight: 200;
}

#unit {
  font-size: 0.8rem;
  opacity: 0.8;
}
